.dashboard {
  position: relative;
  overflow: auto;
  .firstline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
  }
  .action-btn {
    color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border-width: 0;
    outline: 0;
    font-size: 18px;
    &:hover {
      cursor: pointer;
    }
  }
  .margin-top60 {
    margin-top: 60px;
  }
  .margin-top30 {
    margin-top: 30px;
  }
  .margin-top15 {
    margin-top: 15px;
  }
  .margin-bottom30 {
    margin-bottom: 30px;
  }
  .margin-bottom15 {
    margin-bottom: 15px;
  }
  .padding-left-1rem {
    padding-left: 1rem;
  }
  .bg-blue {
    background-color: #007bff;
  }
  .bg-red {
    background-color: #dc3545;
  }
  .bg-gray {
    background-color: #6c757d;
  }
  .btn-lightblue {
    background-color: #17a2b8;
  }
  .font-14 {
    font-size: 14px;
  }
  .btns {
    & > button {
      margin-right: 5px;
    }
  }

  .add-quiz {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .upload-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .addQuiz-action-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
  }
  .question-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .minusIcon {
    margin-right: 1rem;
    color: #6c757d;
    &:hover {
      cursor: pointer;
    }
  }
}
